*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  background-color: rgb(203, 194, 179);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
textarea{
  padding: 10px;
  border-radius: 5px;
  font-size: 22px;
  border: none;
  outline: none;
  resize: none;
}
.count{  
  display: flex;
  justify-content: space-between;
  gap: 20px;
} 
p{
  font-size: 20px;
}